name: Sync Docs to Wiki

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Sync Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/

          commit_message: "Update Wiki content from docs/ folder"
